In [16]:
# "Tab" = shows all the executable operation with the variable object

# "Right Ctrl + Enter" = keyboard shortcut for run In[] in python

In [17]:
# Importing the libraries for use

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [18]:
# Loading the Dataset

data = pd.read_csv("telecom_customer_churn.csv")
data # shows all records (number of rows and columns)
data.head() # starting 5 rows

,Customer_ID,Gender,Age,Married,Number_of_Dependents,City,Zip_Code,Latitude,Longitude,Number_of_Referrals,...,Payment_Method,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue,Customer_Status,Churn_Category,Churn_Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability

In [19]:
data.size # all cells in sheet
print(type(data.size)) # shows datatype
data.shape # shows number of rows and columns in dimensions
print(data.shape)
data.describe() # gives the description of all data

<class 'numpy.int32'>
(7043, 38)

,Age,Number_of_Dependents,Zip_Code,Latitude,Longitude,Number_of_Referrals,Tenure_in_Months,Avg _Monthly_Long_Distance_Charges,Avg _Monthly _GB_Download,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,6361.000000,5517.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,46.509726,0.468692,93486.070567,36.197455,-119.756684,1.951867,32.386767,25.420517,26.189958,63.596131,2280.381264,1.962182,6.860713,749.099262,3034.379056
std,16.750352,0.962802,1856.767505,2.468929,2.154425,3.001199,24.542061,14.200374,19.586585,31.204743,2266.220462,7.902614,25.104978,846.660055,2865.204542
min,19.000000,0.000000,90001.000000,32.555828,-124.301372,0.000000,1.000000,1.010000,2.000000,-10.000000,18.800000,0.000000,0.000000,0.000000,21.360000
25%,32.000000,0.000000,92101.000000,33.990646,-121.788090,0.000000,9.000000,13.050000,13.000000,30.400000,400.150000,0.000000,0.000000,70.545000,605.610000
50%,46.000000,0.000000,93518.000000,36.205465,-119.595293,0.000000,29.000000,25.690000,21.000000,70.050000,1394.550000,0.000000,0.000000,401.440000,2108.640000
75%,60.000000,0.000000,95329.000000,38.161321,-117.969795,3.000000,55.000000,37.680000,30.000000,89.750000,3786.600000,0.000000,0.000000,1191.100000,4801.145000
max,80.000000,9.000000,96150.000000,41.962127,-114.192901,11.000000,72.000000,49.990000,85.000000,118.750000,8684.800000,49.790000,150.000000,3564.720000,11979.340000

In [20]:
data.info() # full detailes like (count of non-null values and datatype)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 38 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Customer_ID                         7043 non-null   object
 1   Gender                              7043 non-null   object
 2   Age                                 7043 non-null   int64
 3   Married                             7043 non-null   object
 4   Number_of_Dependents                7043 non-null   int64
 5   City                                7043 non-null   object
 6   Zip_Code                            7043 non-null   int64
 7   Latitude                            7043 non-null   float64
 8   Longitude                           7043 non-null   float64
 9   Number_of_Referrals                 7043 non-null   int64
 10  Tenure_in_Months                    7043 non-null   int64
 11  Offer                               7043 non-null   object
 12  Phone_Service                       7043 non-null   object
 13  Avg _Monthly_Long_Distance_Charges  6361 non-null   float64
 14  Multiple_Lines                      6361 non-null   object
 15  Internet_Service                    7043 non-null   object
 16  Internet_Type                       5517 non-null   object
 17  Avg _Monthly _GB_Download           5517 non-null   float64
 18  Online_Security                     5517 non-null   object
 19  Online_Backup                       5517 non-null   object
 20  Device_Protection_Plan              5517 non-null   object
 21  Premium_Tech_Support                5517 non-null   object
 22  Streaming_TV                        5517 non-null   object
 23  Streaming_Movies                    5517 non-null   object
 24  Streaming_Music                     5517 non-null   object
 25  Unlimited_Data                      5517 non-null   object
 26  Contract                            7043 non-null   object
 27  Paperless_Billing                   7043 non-null   object
 28  Payment_Method                      7043 non-null   object
 29  Monthly_Charge                      7043 non-null   float64
 30  Total_Charges                       7043 non-null   float64
 31  Total_Refunds                       7043 non-null   float64
 32  Total_Extra_Data_Charges            7043 non-null   int64
 33  Total_Long_Distance_Charges         7043 non-null   float64
 34  Total_Revenue                       7043 non-null   float64
 35  Customer_Status                     7043 non-null   object
 36  Churn_Category                      1869 non-null   object
 37  Churn_Reason                        1869 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 2.0+ MB

In [21]:
# Split the data into features(X) and target variable(y)

X = data.drop('Customer_Status',axis=1)
y = data['Customer_Status']

In [22]:
X.head()

,Customer_ID,Gender,Age,Married,Number_of_Dependents,City,Zip_Code,Latitude,Longitude,Number_of_Referrals,...,Paperless_Billing,Payment_Method,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue,Churn_Category,Churn_Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Yes,Credit Card,65.6,593.30,0.00,0,381.51,974.81,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,No,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Yes,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Yes,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Yes,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Dissatisfaction,Network reliability

In [23]:
y.head()

0     Stayed
1     Stayed
2    Churned
3    Churned
4    Churned
Name: Customer_Status, dtype: object

In [24]:
# Encode categorical data variables
# Text/String convertion into numeric format

label_encoder = LabelEncoder()
X_encoded = X.apply(label_encoder.fit_transform)

# X_encoded.head()

In [25]:
#split the data into training and testing sets

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [26]:
X_train.shape
print(X_train.shape)
X_test.shape
print(X_test.shape)

(5634, 37)
(1409, 37)

In [27]:
# initialize the model

pralay = DecisionTreeClassifier()

In [28]:
# Train the model

pralay.fit(X_train, y_train)

DecisionTreeClassifier()

In [29]:
# make Predictions on the test set

y_pred = pralay.predict(X_test)

In [30]:
# Evaluate the model

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy of model :-", accuracy)
#print("Accuracy of model :-", accuracy*100,"%")

Accuracy of model :- 1.0